:root {
        /* Colors */
    --darkRed: #8b0000;
    --LSCBlue: #003768;
    --LSCLightBlue: #c7eafb;
    --LSCRed: #b30838;
    --LSCTan: #f1c585;
        /* Size */
    --xs-size: .2rem;
    --s-size: 1.2rem;
    --m-size: 1.6rem;
    --l-size: 3.2rem;
    --xl-size: 4.8rem;
    --xxxl-size: 48rem;
    --desktop-breakpoint: 45rem;
        /* !Golbal Setting! */
    background-color: var(--LSCBlue);
    font-family: 'EB Garamond', serif;
}

html {
    display: flex;
    flex-direction: column;
    font-size: 90.5%;
    height: auto;
    margin: none;
    overflow: auto;
    padding: none;
}

.Button {
    background: var(--LSCRed);
    border-width: var(--xs-size);
    border:  solid;
    color: white;
    border-color: var(--darkRed);
    line-height: 1;
    min-width: 6rem;
    max-width: 6rem;
    margin: var(--xs-size);
    padding: var(--s-size);
}

.Button__body {
    align-self: flex-end;
    background: var(--LSCRed);
    border: none;
    padding: var(--xs-size);
}

.Button__center {
    display:flex;
    justify-content:space-around;
}

.NoteApp {
    align-items: center;
    align-content: center;
    background-color: var(--LSCBlue);
    border: none;
    bottom: 20px; /* Footer Height */
    display: flex;
    flex-direction: column;
    font-family: 'EB Garamond', serif;
    height : auto;
    overflow: auto;
    top: 1px; /* Header Height */
    text-align: center;
    width: 100%;
}

.App-logo {
    height: auto;
    width: 100%;
}


.NoteApp-header{
    color: white;
}

.NoteApp-note {
    display: flex;
    flex-direction: column;
    align-self: center;
    white-space: pre-wrap;
    margin: var(--s-size);
    border: none;
    background-color: var(--LSCRed);
    /* background-clip: content-box; */
    box-shadow: inset 0 0 0 1px var(--LSCBlue);
    color: white;
    font-weight: 200;
    padding: var(--s-size);
    min-width: 30rem;
    max-width: 40rem;
}

.NoteApp-note-text {
    background-color: var(--LSCred);
    word-break: break-all;
}

.NoteApp-inputheader {
    color: white;
    background: var(--LSCBlue);
    text-align: center;
}

.NoteApp-inputcontainer {
    max-width: 40rem;
    min-width: 30rem;
}

.NoteApp-input {
    background-color: whitesmoke;
    padding: var(--m-size);
    min-width: 30rem;
    resize: none;
    text-align: left;

}

.NotApp-hide {
    height: 2.5rem;
    width: 100%;
}

.NoteApp-bottom {
    bottom: 0;
    left: 0;
    position: fixed; 
}

.NoteApp-bottom-left {
    bottom: 0;
    position: fixed; 
    right: 0;
    margin: var(--xs-size);
}

.Button--fullScreen {
    align-content: center;
    background: var(--LSCRed);
    color: white;
    border:  solid;
    border-color: var(--darkRed);
    border-width: var(--xs-size);
    font-family: 'EB Garamond', serif;
    padding: var(--s-size);
    line-height: 1;
    min-height: 5rem;
    min-width: 6rem;
    max-width: 6rem;
}
